datasets/**
output/logs/
output/slurm_logs/

__pycache__
.vscode
.ipynb_checkpoints
.DS_Store
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.db
*.sqlite3
.env
venv/
ENV/
env/
build/
dist/
.eggs/
*.egg-info/
log/**
log_tensorboard/**
saved/**
temp/**
plot/output/**