data/**
output/logs/
output/slurm_*/
output/checkpoints/

__pycache__
.vscode
.ipynb_checkpoints
.DS_Store
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.db
*.sqlite3
.env
venv/
ENV/
env/
build/
dist/
.eggs/
*.egg-info/
log/**
log_tensorboard/**
saved/**
temp/**
plot/output/**
data_analysis/output

cache/**

output/plots/**

\.**
data_analysis/stan/two_condition
data_analysis/stan/two_condition_alt_effect
data_analysis/stan/complete_causal
data_analysis/stan/output/
data_analysis/dataframes/output/
